@import '../../src/css/front/modules/variables.css';

.wp-block-ws-layout-row {
  margin: 0 calc(-1 * $grid-padding) calc(-2 * $grid-padding + $default-margin);
  * + & {
    margin-top: calc($grid-padding * 2);
  }
  + * {
    margin-top: calc($grid-padding * 2 - $default-margin);
  }
}

.wp-block-ws-layout-column {
  margin: 0 0 calc($grid-padding * 2 - $default-margin);
  > *:first-child {
    margin-top: 0;
  }
  > .card {
    margin-bottom: $default-margin;
    height: calc(100% - $default-margin);
  }
  &.col-8 {
    @media (--lg-up) {
      @include col-size(8);
    }
  }
  &.col-6 {
    @media (--lg-up) {
      @include col-size(6);
    }
  }
  &.col-4 {
    @media (--md-up) {
      @include col-size(6);
    }
    @media (--lg-up) {
      @include col-size(4);
    }
  }
  &.col-3 {
    @media (--md-up) {
      @include col-size(6);
    }
    @media (--xl-up) {
      @include col-size(3);
    }
  }
  &.col-2 {
    @include col-size(6);
    @media (--sm-up) {
      @include col-size(4);
    }
    @media (--lg-up) {
      @include col-size(2);
    }
  }
}
