@import '../../src/css/front/modules/variables.css';

.wp-block-ws-social-links {
  display: flex;
  align-items: center;
  margin: 0 -10px $default-margin;
  list-style: none;
  li {
    margin: 0;
    padding: 0 10px;
  }
}
