@import '../../src/css/front/modules/variables.css';

.ws-block-spacer {
  margin: 0;
  height: $section-padding;
  &.spacer-50 {
    height: calc($section-padding / 2);
  }
  *:not(.ws-block-spacer) + &:not(:last-child) {
    height: calc($section-padding - $default-margin);
    &.spacer-50 {
      height: calc($section-padding / 2 - $default-margin);
    }
  }
  + * {
    margin-top: 0;
  }
}
