.pre-footer {
  background-color: $gray;
  overflow: hidden;
  h3 {
    margin: 0;
  }
  .left-hands {
    position: absolute;
    right: 10%;
    bottom: -10%;
    width: 200%;
    max-width: none;
    @include media-breakpoint-down(sm) {
      display: none;
    }
  }
  .form {
    text-align: center;
    padding-top: $section-padding/2;
    padding-bottom: $section-padding/2;
    .mc-field-group {
      flex: 1 1 auto;
    }
    input[type=email] {
      width: calc(100% - #{$grid-padding});
      margin: 0;
      &[aria-invalid=true] {
        border: 1px solid red;
      }
    }
    input[type=submit] {
      flex: none;
      margin: 0;
      width: 100px;
    }
    #mce-responses {
      margin-top: $default-margin;
    }
    div.mce_inline_error {
      position: absolute;
      left: 9999em;
    }
    @include media-breakpoint-down(xs) {
      input[type=email], input[type=submit] {
        flex: 1 1 100%;
        margin: 0 0 $grid-padding;
      }
    }
  }
  .right-hands {
    position: absolute;
    left: 10%;
    bottom: -10%;
    width: 200%;
    max-width: none;
    @include media-breakpoint-down(sm) {
      position: relative;
      left: auto;
      bottom: 0;
      margin-bottom: -10%;
      width: 100%;
    }
  }
}
#site-footer {
  width: 100%;
  background: #555;
  a, p, small {
    color: #fff;
  }
  svg:not(.logo) {
    fill: #fff;
  }
  .small {
    opacity: 0.6;
  }
  .logo {
    max-width: 150px;
  }
}
.footer-widgets {
  padding-top: $section-padding;
  list-style: none;
  .widget {
    padding-left: $grid-padding;
    padding-right: $grid-padding;
    margin-bottom: 50px;
    @extend .col-lg-3;
    @extend .col-md-6;
    @extend .col-sm-12;
    @extend .col-xs-12;
  }
  .widgettitle {
    color: #fff;
  }
  .menu {
    a {
      display: inline-block;
      margin-bottom: 5px;
      font-weight: $bold;
    }
  }
  .sub-menu {
    margin: 0;
    a {
      font-weight: $light;
    }
  }
}
