#site-footer {
  width: 100%;
  background: #555;
  a, p, small {
    color: #fff;
  }
  svg:not(.logo) {
    fill: #fff;
  }
  .small {
    opacity: 0.6;
  }
  .logo {
    max-width: 150px;
  }
}
.footer-widgets {
  padding-top: $section-padding;
  list-style: none;
  .widget {
    padding-left: $grid-padding;
    padding-right: $grid-padding;
    margin-bottom: 50px;
    @extend .col-lg-3;
    @extend .col-md-6;
    @extend .col-sm-12;
    @extend .col-xs-12;
  }
  .widgettitle {
    color: #fff;
  }
  .menu {
    a {
      display: inline-block;
      margin-bottom: 5px;
      font-weight: $bold;
    }
  }
  .sub-menu {
    margin: 0;
    a {
      font-weight: $light;
    }
  }
}
