// Desktop
#site-header {
  position: relative;
  z-index: 10;
  background-color: rgba(#000, 0.75);
  &.fixed {
    position: fixed;
    width: 100%;
  }
  .container, .container-fluid {
    align-items: center;
    justify-content: space-between;
    height: $menu-height;
    transition: 0.3s;
  }
  #hamburger {
    display: none;
  }
  .hamburger {
    display: none;
  }
  .menu-container {
    padding-left: $grid-padding;
    padding-right: $grid-padding;
    flex: 1 1 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
.logo-title {
  padding: 0 $grid-padding;
  .logo {
    width: 100px;
    display: block;
  }
}
.header-menu {
  display: flex;
  align-items: center;
  &.header-left {
  }
  &.header-right {
    li {
      margin-left: $grid-padding*2;
      &:hover {
        a {
          color: #fff;
          background-color: $primary-dark;
        }
      }
    }
    a {
      @extend %button;
      min-width: 100px;
      line-height: 1.5em;
    }
  }
  a {
    display: block;
    line-height: $menu-height;
    padding: 0 $grid-padding*1.5;
    text-decoration: none;
    color: #fff;
  }
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .menu-item {
    position: relative;
    display: inline-block;
    transition: 0.3s;
    min-width: 80px;
    text-align: center;
    margin: 0;
    padding: 0;
    &.menu-item-has-children {
      &:after {
        transition: 0.3s;
        content: '';
        position: absolute;
        width: 0;
        height: 0;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        border: 8px solid transparent;
        border-bottom: 8px solid $primary;
        opacity: 0;
      }
      &:hover {
        &:after {
          opacity: 1;
        }
      }
    }
    &:hover {
      > a {
        color: $primary;
      }
      .sub-menu {
        transition: left 0s, opacity 0.3s;
        left: 0;
        opacity: 1;
      }
    }
  }
  .sub-menu {
    transition: left 0s 0.3s, opacity 0.3s;
    left: 9999em;
    opacity: 0;
    display: table;
    background: rgba(#000, 0.75);
    box-shadow: $shadow;
    min-width: 240px;
    width: 100%;
    position: absolute;
    top: $menu-height;
    border-top: 2px solid $primary;
    padding: 15px;
    li {
      display: block;
      text-align: left;
    }
    a {
      line-height: normal;
      padding: $grid-padding*2;
    }
  }
  input[type=checkbox] {
    display: none;
  }
  .dropdown {
    display: none;
    cursor: pointer;
    margin: 0;
    svg {
      width: 20px;
      height: 20px;
      fill: #fff;
    }
  }
}
// @include media-breakpoint-up(lg) {
//   .header-menu {
//     .menu-item {
//       &:hover {
//         background: #eee;
//         > .sub-menu {
//           opacity: 1;
//           pointer-events: all;
//         }
//       }
//       .sub-menu {
//         opacity: 0;
//         pointer-events: none;
//         position: absolute;
//         top: auto;
//         transition: 0.3s;
//       }
//     }
//   }
// }

// Mobile
@include media-breakpoint-down(md) {
  #site-header {
    &.fixed + * {
      // padding-top: $mobile-menu-height;
    }
    .container, .container-fluid {
      padding: 0;
      width: 100%;
      height: $mobile-menu-height;
    }
    .menu-container {
      padding: 0;
      flex: none;
      width: 100%;
      position: absolute;
      top: $mobile-menu-height;
      background-color: rgba(#000, 0.75);
      left: 100%;
      right: 0;
      transition: 0.3s;
      max-height: calc(100vh - #{$mobile-menu-height});
      overflow-x: hidden;
      overflow-y: scroll;
    }
    .hamburger {
      display: inline-block;
      cursor: pointer;
      height: 40px;
      width: 40px;
      margin: 0 $grid-padding*2 0 0;
      path {
        stroke-width: 5;
        transition: 0.3s;
      }
    }
  }
  .logo-title {
    margin: 0 0 0 $grid-padding*2;
    padding: 0;
    height: $mobile-menu-height;
    display: flex;
    align-items: center;
    > * {
      display: inline-block;
      // height: $mobile-menu-height;
    }
    .logo {
      width: 60px;
    }
  }
  #hamburger {
    + label .opened {
      stroke: transparent;
    }
    + label .closed {
      stroke: #fff;
    }
    &:checked {
      ~ .menu-container {
        left: 0;
      }
      + label .opened {
        stroke: $primary;
      }
      + label .closed {
        stroke: transparent;
      }
    }
  }
  .header-menu {
    transition: 0.3s;
    width: 100%;
    padding: 0;
    display: block;
    li {
      &:hover {
        background-color: none;
      }
    }
    // &.header-left {
    //   li {
    //     &:hover {
    //       a {
    //         color: #fff;
    //       }
    //     }
    //   }
    // }
    &.header-right {
      li {
        margin: 0;
        &:hover {
          a {
            background: none;
            color: $primary;
          }
        }
        a {
          background: none;
          font-weight: $normal;
          padding: $grid-padding*2;
          font-size: rem(16);
          text-align: left;
        }
      }
    }
    a {
      line-height: 1.5em;
      flex: 1;
      position: relative;
      padding: $grid-padding*2;
    }
    .menu-item {
      display: flex;
      flex-wrap: wrap;
      border-top: 1px solid $border-color;
      position: relative;
      text-align: left;
      &:hover {
        &:after {
          display: none;
        }
        .sub-menu {
          left: 9999em;
          opacity: 0;
        }
      }
    }
    .sub-menu {
      transition: none;
      left: 9999em;
      opacity: 0;
      top: auto;
      padding: 0;
      border: none;
      background: none;
      li {
        border: none;
      }
      a {
        line-height: 1.5em;
        padding-left: $grid-padding*4;
      }
    }
    .menu-item-has-children {
      input[type=checkbox]:checked {
        + .dropdown {
          svg {
            transform: rotate(180deg);
          }
        }
        ~ .sub-menu {
          transition: none;
          position: relative;
          left: 0;
          opacity: 1;
        }
      }
      > .dropdown {
        display: flex;
        align-items: center;
        padding: 10px;
        padding-right: 10px + ($grid-padding*2);
      }
    }
  }
}
