.single-event {
  .google-map {
    margin-top: $section-padding/2;
    height: 300px;
  }
  .info {
    box-shadow: $shadow;
    text-align: center;
    padding: 25px;
  }
  @include media-breakpoint-down(md) {
    .text {
      margin-bottom: $section-padding/2;
    }
  }
}
#event-map {
  height: 300px;
}
