.single-event {
  .google-map {
    margin-top: $section-padding/2;
    height: 300px;
  }
  .info {
    box-shadow: $shadow;
    text-align: center;
    padding: 25px;
  }
}
#event-map {
  height: 300px;
}
