@function rem($pixels, $context: 16px) {
  @if (unitless($pixels)) {
    $pixels: $pixels * 1px;
  }
  @if (unitless($context)) {
    $context: $context * 1px;
  }
  @return $pixels / $context * 1rem;
}

@function em($pixels, $context: 16px) {
  @if (unitless($pixels)) {
    $pixels: $pixels * 1px;
  }
  @if (unitless($context)) {
    $context: $context * 1px;
  }
  @return $pixels / $context * 1em;
};

$text-color: #333;
$text-color-light: #777;

$primary: #f66551;
$primary-light: lighten($primary, 10%);
$primary-dark: darken($primary, 5%);

$secondary: #3fefd8;
$secondary-light: lighten($secondary, 10%);
$secondary-dark: darken($secondary, 10%);

$gray: #F7F7F7;
$grey: $gray;

$border-color: #ddd;
$border-radius: 5px;
$shadow: 0 5px 20px rgba(0, 0, 0, 0.1);

$font: 'Montserrat';
$heading-font: $font, sans-serif;
$text-font: $font, sans-serif;

$light: 300;
$normal: 400;
$bold: 600;

$default-margin: 20px;
$input-padding: 10px;
$input-border-radius: 4px;
$input-margin: 30px;
$menu-height: 100px;
$scroll-menu-height: 80px;
$mobile-menu-height: 60px;
$header-padding: 200px;
$section-padding: 80px;
$row-padding: 10px;
$grid-padding: 10px;
$card-padding: 50px;

// Grid size and break points
$xs-break: 0px;
$sm-break: 576px;
$md-break: 768px;
$lg-break: 992px;
$xl-break: 1200px;
$sizes: (1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12);

$breaks: (
  xs: $xs-break,
  sm: $sm-break,
  md: $md-break,
  lg: $lg-break,
  xl: $xl-break
);
$breaks-alt: (
  xs: $sm-break - 1px,
  sm: $md-break - 1px,
  md: $lg-break - 1px,
  lg: $xl-break - 1px,
);

@mixin media-breakpoint-up($name) {
  @media (min-width: map-get($breaks, $name)) {
    @content;
  }
}
@mixin media-breakpoint-down($name) {
  @media (max-width: map-get($breaks-alt, $name)) {
    @content;
  }
}

@mixin overlay($color: rgba(#000, 0.5)) {
  position: relative;
  &:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: $color;
  }
  & > * {
    position: relative;
    z-index: 2;
  }
}
