@import 'variables';
@import 'grid';
/*
* Generals
*/
* {
  box-sizing: border-box;
  font-family: $text-font;
  background-size: cover;
  background-position: center;
  transition-timing-function: ease;
  position: relative;
}

p, a, li, span {
  font-size: rem(16);
  line-height: 1.5em;
  color: $text-color;
}

p {
  margin: 0 0 $default-margin;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: $heading-font;
  margin: 0 0 $default-margin;
  font-weight: $normal;
  color: $primary;
  line-height: 1.5em;
  a {
    font-family: $heading-font;
  }
}

h1, .h1 {
  font-size: rem(36);
  line-height: 1.25em;
}

h2, .h2 {
  font-size: rem(36);
  font-weight: $bold;
  line-height: 1.25em;
}

h3, .h3 {
  font-size: rem(24);
}

h4, .h4 {
  font-size: rem(20);
}

h5, .h5 {
  font-size: rem(24);
}

h6, .h6 {
  font-size: rem(18);
}

a, .a {
  color: $secondary;
  text-decoration: none;
  transition: 0.3s;
  &:hover {
    color: $secondary-dark;
  }
}

.big {
  font-weight: $bold;
  font-size: rem(48);
}

b, strong {
  font-weight: $bold;
}

em, i {
  font-style: italic;
}

small {}

ul {
  list-style: disc;
  margin: 0 0 $default-margin 20px;
}

ol {
  list-style: decimal;
  margin: 0 0 $default-margin 20px;
}

li {
  margin: 0 0 $default-margin;
  ul, ol {
    margin-top: $default-margin;
  }
}

form {
  margin: 0 0 $default-margin;
}

label {
  display: inline-block;
  margin: 0 0 5px;
}

%input {
  font-size: rem(14);
  width: 100%;
  margin: 0 0 $input-margin;
  border: 1px solid $border-color;
  border-radius: $input-border-radius;
  padding: $input-padding;
  color: $text-color;
  background-color: #fafafa;
  line-height: 1.5em;
}

input, select, textarea {
  @extend %input;
}

input[type="checkbox"], input[type="radio"] {
  width: auto;
  margin: 4px 10px 0 0;
}

input[type="color"] {
  width: auto;
  min-width: 50px;
  padding: 0;
  border: 1px solid $border-color;
}

input::placeholder, textarea::placeholder {
  color: #ddd;
}

%button {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  border: 0;
  border-radius: $input-border-radius;
  background-color: $primary;
  padding: em(12) em(36);
  cursor: pointer;
  transition: 0.3s;
  appearance: none;
  font-size: rem(14);
  font-weight: $bold;
  min-width: 160px;
  text-align: center;
  &:hover {
    background-color: $primary-dark;
    color: #fff;
  }
}

button, input[type=button], input[type=submit], .btn, .button,  {
  @extend %button;
}
.btn-alt {
  @extend %button;
  background: transparent;
  border: 1px solid $primary;
  color: $primary;
  &:hover {
    background: $primary;
  }
}

%select {
  border-radius: $input-border-radius;
  cursor: pointer;
  appearance: none;
  background: #fafafa url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 45 25'%3E%3Cpath fill='%23024' d='M11.39,20,1.79,10a1.67,1.67,0,0,1,0-2.3,1.51,1.51,0,0,1,2.13-.08A.6.6,0,0,1,4,7.73l8.5,8.85L21,7.73a1.51,1.51,0,0,1,2.13-.08.6.6,0,0,1,.08.08,1.67,1.67,0,0,1,0,2.3l-9.6,10a1.52,1.52,0,0,1-2.15.07L11.39,20'/%3E%3C/svg%3E") no-repeat 100% 50%/28px;
}

select {
  @extend %select;
  &::-ms-expand {
    display: none;
  }
}

div.select {
  @extend %select;
  position: relative;
  margin: 0 0 $input-margin;
  span {
    @extend %input;
    display: block;
    cursor: pointer;
    margin: 0;
    padding-right: $input-padding + 20px; // 20px = svg width plus some extra
  }
  svg {
    width: 16px;
    height: 16px;
    fill: $text-color;
    position: absolute;
    right: $input-padding;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
  }
  ul {
    @extend %select;
    background-color: #fff;
    list-style: none;
    visibility: hidden;
    display: block;
    position: absolute;
    margin: 0;
    left: 0;
    right: 0;
    z-index: 2;
    box-shadow: $shadow;
    max-height: 200px;
    overflow-y: scroll;
    opacity: 0;
    transition: opacity 0.3s, visibility 0s 0.3s;
    li {
      padding: $input-padding;
      margin: 0;
      cursor: pointer;
      transition: 0.3s;
      &.selected {
        background-color: #eee;
      }
      &:hover {
        background-color: #ddd;
      }
    }
  }
  &.open {
    ul {
      visibility: visible;
      opacity: 1;
      transition: opacity 0.3s, visibility 0s;
    }
  }
}

fieldset {
  border: 1px solid $border-color;
  padding: 10px;
}

[disabled], .disabled {
  pointer-events: none;
  opacity: 0.5;
}

small, .small {
  font-size: 80%;
  line-height: 1.5em;
}

img {
  display: block;
  max-width: 100%;
  image-rendering: -webkit-optimize-contrast;
  height: auto;
}

video {
  width: 100%;
  height: auto;
  display: block;
}

table {
  width: 100%;
  margin: 0 0 $default-margin;
}

td, th {
  padding: 10px;
}

hr {
  border: 0;
  border-bottom: 1px solid $border-color;
  margin: 0 0 $default-margin;
}

blockquote {
  background-color: #ddd;
  padding: 30px 50px;
  margin: 0 0 $default-margin;
  font-family: $heading-font;
  p:last-child {
    margin: 0;
  }
}

pre {
  word-break: break-word;
  word-wrap: break-word;
}

figure {
  margin: 0 0 $default-margin;
  width: 100%;
}

figcaption {
  @extend .small;
  padding: 0 10px;
  background-color: #ddd;
}

svg {
  color: currentColor;
}

/*
* Helper Classes
*/
%card {
  background-color: #fff;
  box-shadow: $shadow;
  height: 100%;
  display: flex;
  flex-direction: column;
  & *:last-child {
    margin-bottom: 0;
  }
  .thumbnail-container {
    height: 250px;
  }
  .card-content {
    padding: $card-padding;
    flex: 0 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @include media-breakpoint-down(xs) {
      padding: $card-padding/2;
    }
  }
}
.card-container {
  margin-bottom: $grid-padding*2;
  ~ .center {
    .btn {
      margin-top: $section-padding/2 - $grid-padding*2;
    }
  }
}
.card {
  @extend %card;
}

.link-container {
  cursor: pointer;
}

.video-container {
  position: relative;
  padding-bottom: 56.25%; // 16:9
  padding-top: 25px;
  height: 0;
  iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
}
video.no-fullscreen {
  &::-webkit-media-controls-fullscreen-button {
    display: none;
  }
}

.clearfix {
  clear: both;
}

.alignright {
  float: right;
  margin: 0 0 15px 15px;
  @include media-breakpoint-down(xs) {
    float: none;
    width: 100%;
    height: auto;
  }
}

.alignleft {
  float: left;
  margin: 0 15px 15px 0;
  @include media-breakpoint-down(xs) {
    float: none;
    width: 100%;
    height: auto;
  }
}

.aligncenter {
  margin: 0 auto $default-margin;
  display: block;
}

.center, .centered {
  text-align: center;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.no-padding {
  padding: 0;
}

.no-margin {
  margin: 0;
}

.no-scroll {
  overflow-y: hidden;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.screen-reader-text {
  position: absolute;
  left: -9999em;
}

.overlay {
  @include overlay();
}

.thumbnail-container {
  background-color: $gray;
  img {
    width: 100%;
    height: 100%;
  }
}

#tinymce, .pb-text, .wp-text {
  h2, .h2 {
    margin-top: $default-margin*2;
  }
  h3, .h3 {
    margin-top: $default-margin*1.5;
    margin-bottom: $default-margin/2;
  }
  h4, .h4 {
    margin-bottom: $default-margin/2;
  }
  h5, .h5, h6, .h6 {
    margin-bottom: 0;
  }
}
.pb-text {
  .row .row {
    margin-left: -$grid-padding*2;
    margin-right: -$grid-padding*2;
  }
}
#tinymce, .wp-text {
  > *:first-child {
    margin-top: 0;
  }
  > *:last-child {
    margin-bottom: 0;
  }
  .row {
    margin-left: -$grid-padding*2;
    margin-right: -$grid-padding*2;
  }
}

.google-map, .map-canvas {
  height: 100%;
}
.google-map {
  .map-info-window {
    *:last-child {
      margin-bottom: 0;
    }
    p {
      color: $text-color;
    }
  }
}

.gray {
  background-color: $gray;
}

.orange {
  background-color: $primary;
  p, h2, a, span {
    color: #fff;
  }
  .card {
    a {
      color: $text-color;
    }
    p, h2, span {
      color: $text-color;
    }
  }
}

.subhead {
  font-size: rem(12);
  font-weight: $bold;
}

form [id*=dob] .rightField {
  display: flex;
  align-items: center;
}

form [id*=dob] .rightField input {
  margin: 0;
}
