.ws-block-container {
  position: relative;
  z-index: 0;
  .background-container {
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
  }
  .background-image {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-size: cover;
    background-position: center;
    &.has-background-overlay {
      @include overlay(#000);
      position: absolute;
    }
    &.has-left-half-background-size {
      right: 50%;
    }
    &.has-right-half-background-size {
      left: 50%;
    }
  }
}

[class*='ws-block-meta-'] {
  > .ws-block-container {
    background: repeating-linear-gradient(-45deg, transparent, transparent 20px, rgba(#000, 0.05) 21px, rgba(#000, 0.05) 40px);
  }
}

.block-row {
  &.align-items-center {
    > .block-editor-inner-blocks {
      > .block-editor-block-list__layout {
        > * {
          display: flex;
          flex-direction: column;
          justify-content: center;
        }
      }
    }
  }
  &.align-items-end {
    > .block-editor-inner-blocks {
      > .block-editor-block-list__layout {
        > * {
          display: flex;
          flex-direction: column;
          justify-content: flex-end;
        }
      }
    }
  }
  &.row-reverse {
    > .block-editor-inner-blocks {
      > .block-editor-block-list__layout {
        flex-direction: row-reverse;
      }
    }
  }
  &.has-2-columns {
    > .block-editor-inner-blocks {
      > .block-editor-block-list__layout {
        > * {
          @include col-size(6);
        }
      }
    }
  }
  &.has-3-columns {
    > .block-editor-inner-blocks {
      > .block-editor-block-list__layout {
        > * {
          @include col-size(4);
        }
      }
    }
  }
  &.has-4-columns {
    > .block-editor-inner-blocks {
      > .block-editor-block-list__layout {
        > * {
          @include col-size(3);
        }
      }
    }
  }
  &.has-6-columns {
    > .block-editor-inner-blocks {
      > .block-editor-block-list__layout {
        > * {
          @include col-size(2);
        }
      }
    }
  }
  > .block-editor-inner-blocks {
    > .block-editor-block-list__layout {
      @include row;
      > * {
        @include col;
        @include col-size(12);
        margin: 0;
        @media (--md-up) {
          &.col-8 {
            @include col-size(8);
          }
          &.col-6 {
            @include col-size(6);
          }
          &.col-4 {
            @include col-size(4);
          }
          &.col-3 {
            @include col-size(3);
          }
          &.col-2 {
            @include col-size(2);
          }
        }
        &.is-selected, &.has-child-selected, &.is-typing {
          > .editor-block-list__block-edit {
            margin-left: 12px;
            margin-right: 12px;
          }
        }
      }
      > .block-list-appender {
        flex: 0 1 auto;
      }
    }
  }
}

.preview-row {
  &:not(.block-row) {
    @include row;
  }
  & > .block-editor-inner-blocks > .block-editor-block-list__layout > *, &:not(.block-row) > * {
    @include col-size(6);
    margin: 0 0 calc($grid-padding * 2);
  }
  .components-post-preview {
    .post-title {
      margin: 5px 0 0;
    }
  }
  &.is-style-cards {
    & > .block-editor-inner-blocks > .block-editor-block-list__layout > *, &:not(.block-row) > * {
      @include col-size(6);
    }
    .components-post-preview {
      @include card;
      margin: 0;
      > div:last-child {
        padding: $card-padding;
      }
    }
  }
  &.is-style-tiles {
    & > .block-editor-inner-blocks > .block-editor-block-list__layout > *, &:not(.block-row) > * {
      @include col-size(6);
    }
    .components-post-preview {
      @include ratio(100%);
      padding: $card-padding;
      background-color: rgba(#000, 0.1);
      position: relative;
      .featured-image {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: center;
        }
        &::after {
          content: '';
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          background: rgba(#000, 0.4);
          z-index: 1;
        }
        ~ * {
          position: relative;
          z-index: 2;
          color: #fff;
        }
      }
      .label {
        margin-top: 0;
      }
    }
  }
  &.is-style-list {
    & > .block-editor-inner-blocks > .block-editor-block-list__layout > *, &:not(.block-row) > * {
      @include col-size(12);
    }
    .components-post-preview {
      .featured-image {
        display: none;
      }
      .post-title {
        margin: 0;
      }
    }
  }
}

.no-posts {
  display: block;
  text-align: center;
  margin: 0 auto;
}

.has-background, .ws-block-container-tile {
  padding: 15px 20px 10px;
}

/*
 * WordPress Blocks
 */
.wp-block-buttons {
  .block-editor-block-list__layout {
    display: inline-flex;
    align-items: center;
  }
  @at-root {
    .wp-block-button {
      margin: 4px 8px 4px 0;
      .wp-block-button__link {
        @include button;
        margin: 0;
        min-width: 20px;
      }
      &.is-style-outline {
        .wp-block-button__link {
          @include button-outline;
        }
      }
      &.is-style-underline {
        min-width: 40px;
        .wp-block-button__link {
          @include button-underline;
        }
      }
      &.is-style-arrow {
        .wp-block-button__link {
          @include button-arrow;
          /* Bug fix */
          span {
            display: inline-block;
            margin-top: -1.5em;
            &::after {
              display: inline-block;
              margin-top: 1.5em;
            }
          }
        }
      }
      [data-rich-text-placeholder]::after {
        color: inherit !important;
      }
    }
  }
}

.wp-block-image {
  &.is-style-shadow {
    img {
      filter: drop-shadow(0 5px 10px rgba(#000, 0.25));
    }
  }
}

.wp-block-paragraph {
  @at-root {
    .is-style-label {
      @include label;
    }
  }
}

.wp-block-separator {
  max-width: 100% !important;
  margin-left: 0;
  margin-right: auto;
  padding: 0;
  height: 1px;
  border-color: currentColor;
  opacity: 0.7;
  &.text-center {
    margin-left: auto;
    margin-right: auto;
  }
  &.text-right {
    margin-right: 0;
    margin-left: auto;
  }
}
