@import '../../front/modules/variables.css';

$row-padding: 0;
$grid-padding: 10px;
$default-margin: 10px;
$section-padding: 40px;
$text-color: #191e23;
$icon-gray: #555d66;
$icon-black: #191e23;
$gray: #6c7781;
$light-gray: #f3f4f5;
$border-color: #e2e4e7;
$blue: #0075af;
$card-padding: 20px;
$shadow: 0 5px 10px rgba(#000, 0.2);
$editor-width: 1000px;

$breaks: (xs:0, sm:576px, md:768px, lg:992px, xl:1200px);
@each $breakpoint $breakname in $breaks {
  @custom-media --$(breakname)-up (width >= $breakpoint);
  @custom-media --$(breakname)-down (width < $breakpoint);
}

@mixin row {
  display: flex;
  flex: 1 1 auto;
  flex-direction: row;
  flex-wrap: wrap;
  margin-right: calc(-1 * $grid-padding);
  margin-left: calc(-1 * $grid-padding);
}

@mixin col {
  max-width: 100%;
  padding-left: $grid-padding;
  padding-right: $grid-padding;
  box-sizing: border-box;
}

@mixin card {
  background: #fff;
  color: $text-color;
  box-sizing: border-box;
  border: 1px solid $border-color;
  box-shadow: $shadow;
  min-width: 100px;
  max-width: none;
  margin: 0;
  padding: 0;
  .card-body {
    padding: $card-padding;
  }
  &.extra-padding {
    .card-body {
      padding: calc($card-padding * 2);
    }
  }
  .card-image {
    display: block;
    max-width: initial;
    height: 200px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }
  .label {
    margin-top: 0;
  }
  &.image-right {
    display: flex;
    flex-direction: row-reverse;
    .card-image {
      flex: none;
      width: 40%;
      height: auto;
    }
    > *:not(.card-image) {
      flex: 1 1 auto;
    }
  }
  &.image-left {
    display: flex;
    flex-direction: row;
    .card-image {
      flex: none;
      width: 40%;
      height: auto;
    }
    > *:not(.card-image) {
      flex: 1 1 auto;
    }
  }
}
