#page-builder-btn, #add-section-top, #add-section-bottom {
  margin-top: 10px;
  display: flex;
  align-items: center;
  span {
    margin-right: 5px;
  }
}
#add-section-top, #add-section-bottom {
  display: flex;
  margin: 10px auto;
  span {
    margin-top: 2px;
  }
}

#page-builder {
  .section {
    .section-options-btn {
      cursor: pointer;
    }
    .section-options {
      input[type=text]:not(.color-picker) {
        width: 100%;
      }
      .iris-picker {
        background: none;
      }
    }
    .section-inside {
      padding: 5px;
    }
  }
  .section-selections {
    margin: 0;
    button {
      height: auto;
      width: 100%;
      text-align: left;
      padding: 10px;
      h4 {
        margin: 0;
        font-size: 14px;
      }
      p {
        margin: 0;
      }
    }
    li {
      margin-bottom: 10px;
      &:last-child {
        margin: 0;
      }
    }
  }
  .options-lightbox {
    input[type=radio] {
      display: none;
    }
    .slide-tab {
      + label {
        border: 1px solid #ddd;
        padding: 5px 10px;
        display: inline-flex;
        align-items: center;
        margin: 0 0 -1px 0;
        span {
          line-height: 20px;
        }
        .dashicons {
          opacity: 0;
        }
      }
      &:checked + label {
        border-bottom: 1px solid #fff;
        .dashicons {
          opacity: 1;
        }
      }
    }
    .background-slide {
      padding: 10px;
      border: 1px solid #ddd;
    }
    .color-btn {
      + label {
        width: 50px;
        height: 50px;
        padding: 0;
        border-radius: 2px;
        margin: 0 5px 5px 0;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        span {
          opacity: 0;
          width: 24px;
          height: 24px;
          font-size: 25px;
          background-color: #fff;
          color: #000;
          border-radius: 100%;
          box-shadow: 0 2px 4px rgba(#000, 0.2);
          &:before {
            display: inline-block;
            margin-left: -1px;
            margin-top: 1px;
          }
        }
      }
      &:checked {
        + label {
          span {
            opacity: 1;
          }
        }
      }
    }
  }
  .overlay-option {
    margin-top: 10px;
  }
  .overlay {
    position: relative;
    &:after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: rgba(#000, 0.5);
    }
    // & > * {
    //   position: relative;
    //   z-index: 2;
    // }
  }
}
